html {
  font-size: 10px; }

img {
  max-width: 100%; }

body {
  background-color: #eef3f5;
  color: #131313;
  font-family: 'Roboto', sans-serif;
  padding-top: 40px;
  font-size: 14px; }

a {
  color: #009adf; }

h2 {
  font-size: 24px; }

.btn {
  padding: 20px 30px;
  display: inline-block;
  color: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700; }
  .btn-primary {
    background-color: #009adf;
    border-bottom: 5px solid #0077ac; }
    .btn-primary:hover {
      background-color: #00a1e9; }

.slick-active {
  outline: none !important; }

.top-nav {
  background-color: #fff;
  padding: 15px;
  position: relative; }
  .top-nav_btn {
    display: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    position: absolute;
    right: 15px;
    top: -50px; }
    .top-nav_btn:hover {
      cursor: pointer; }
  .top-nav_menu {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .top-nav_menu li {
      margin-right: 45px; }
      .top-nav_menu li a {
        text-transform: uppercase;
        text-decoration: none;
        color: #131313;
        font-weight: 700; }
        .top-nav_menu li a::after {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          background-color: #009adf;
          -webkit-transform: translateY(37px) scale(0);
              -ms-transform: translateY(37px) scale(0);
                  transform: translateY(37px) scale(0);
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
        .top-nav_menu li a:hover::after {
          -webkit-transform: translateY(37px) scale(1);
              -ms-transform: translateY(37px) scale(1);
                  transform: translateY(37px) scale(1); }

.left-sidebar {
  margin-top: 4rem; }
  .left-sidebar_btn {
    display: none;
    background-color: #fff;
    padding: 15px;
    position: relative; }
    .left-sidebar_btn:hover {
      cursor: pointer; }
    .left-sidebar_btn::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      margin-top: -10px;
      right: 15px;
      width: 15px;
      height: 15px;
      border-bottom: 2px solid #131313;
      border-right: 2px solid #131313;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
  .left-sidebar_menu {
    background-color: #fff;
    list-style: none;
    padding: 0; }
    .left-sidebar_menu li {
      -webkit-transition: all 0.1s;
      -o-transition: all 0.1s;
      transition: all 0.1s; }
      .left-sidebar_menu li:first-child a {
        padding-top: 20px; }
      .left-sidebar_menu li:last-child a {
        padding-bottom: 20px; }
      .left-sidebar_menu li:hover {
        background-color: #009adf; }
        .left-sidebar_menu li:hover a {
          color: #fff; }
      .left-sidebar_menu li a {
        display: block;
        padding: 15px 29px;
        text-decoration: none;
        color: #131313;
        font-size: 16px;
        font-weight: 400; }
  .left-sidebar_object {
    margin-top: 30px;
    background-color: #fff; }
    .left-sidebar_object-description {
      padding: 30px; }
      .left-sidebar_object-description h3 {
        text-transform: uppercase;
        font-weight: 400; }

.content {
  margin-top: 40px; }

.directions {
  margin-top: 80px; }
  .directions-block {
    background-color: #fff;
    height: 220px;
    text-align: center;
    margin: 0 15px;
    padding: 10px;
    background-position: bottom center;
    background-repeat: no-repeat; }
    .directions-block h3 {
      color: #009adf; }

.footer {
  margin-top: 60px;
  background-color: #131313;
  padding: 59px 0;
  color: #666666; }
  .footer-policy-link {
    font-size: 12px; }
  .footer p {
    margin-bottom: 14px; }
  .footer a {
    color: #666666;
    text-decoration: none; }
    .footer a:hover {
      color: #fff; }
  .footer small {
    display: block;
    margin-top: 56px;
    line-height: 16px;
    font-size: 10px;
    max-width: 80%; }
  .footer ul {
    padding: 0;
    list-style: none; }
    .footer ul li {
      line-height: 32px; }
  .footer-contacts, .footer-social-links {
    text-align: right; }
    .footer-contacts_phone {
      font-weight: 400;
      font-size: 20px;
      color: #009adf; }
  .footer-social-links li {
    display: inline-block; }
    .footer-social-links li a {
      display: inline-block;
      width: 42px;
      height: 42px;
      background-color: rgba(255, 255, 255, 0.1);
      color: #fff;
      text-align: center;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      padding: 7px;
      margin-left: 10px;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      .footer-social-links li a:hover {
        background-color: rgba(255, 255, 255, 0.9);
        color: #131313; }

@media (max-width: 767px) {
  html {
    font-size: 5px; }
  .btn {
    width: 100%;
    text-align: center; }
  .top-nav_btn {
    display: block; }
  .top-nav_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none; }
    .top-nav_menu__active {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 0; }
    .top-nav_menu li {
      line-height: 2; }
      .top-nav_menu li a::after {
        display: none; }
  .left-sidebar_object {
    display: none; }
  .left-sidebar_btn {
    display: block; }
  .left-sidebar_menu {
    display: none; }
    .left-sidebar_menu__active {
      display: block; }
  .copy {
    text-align: center; }
    .copy small {
      margin: 36px auto; }
  .footer-contacts, .footer-social-links {
    text-align: left; } }

@media (min-width: 767px) and (max-width: 991px) {
  html {
    font-size: 5px; }
  .top-nav_btn {
    display: block; }
  .top-nav_menu {
    display: none; }
    .top-nav_menu__active {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 0;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
    .top-nav_menu li {
      margin-right: 0;
      line-height: 2; }
      .top-nav_menu li a::after {
        display: none; }
  .left-sidebar_object {
    display: none; }
  .left-sidebar_btn {
    display: block; }
  .left-sidebar_menu {
    display: none; }
    .left-sidebar_menu__active {
      display: block; }
  .footer-contacts, .footer-social-links {
    text-align: left; }
  .directions-block h3 {
    font-size: 3rem; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .top-nav_menu {
    font-size: 1.3rem; }
  .directions-block h3 {
    font-size: 1.3rem; } }
